[submodule "bundle/latex-box"]
	path = bundle/latex-box
	url = https://github.com/LaTeX-Box-Team/LaTeX-Box.git
[submodule "bundle/ack"]
	path = bundle/ack
	url = https://github.com/mileszs/ack.vim.git
[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule "bundle/gitgutter"]
	path = bundle/gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "bundle/tabular"]
	path = bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "bundle/tcomment"]
	path = bundle/tcomment
	url = https://github.com/tomtom/tcomment_vim.git
[submodule "bundle/ultisnips"]
	path = bundle/ultisnips
	url = https://github.com/SirVer/ultisnips.git
[submodule "bundle/bufsurf"]
	path = bundle/bufsurf
	url = https://github.com/ton/vim-bufsurf.git
[submodule "bundle/easymotion"]
	path = bundle/easymotion
	url = https://github.com/Lokaltog/vim-easymotion.git
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/indent-guides"]
	path = bundle/indent-guides
	url = https://github.com/nathanaelkane/vim-indent-guides.git
[submodule "bundle/less"]
	path = bundle/less
	url = https://github.com/groenewege/vim-less.git
[submodule "bundle/surround"]
	path = bundle/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/emmet"]
	path = bundle/emmet
	url = https://github.com/mattn/emmet-vim
[submodule "bundle/misc"]
	path = bundle/misc
	url = https://github.com/xolox/vim-misc.git
[submodule "bundle/matchit"]
	path = bundle/matchit
	url = https://github.com/tmhedberg/matchit.git
[submodule "bundle/airline"]
	path = bundle/airline
	url = https://github.com/bling/vim-airline.git
[submodule "bundle/instant-markdown"]
	path = bundle/instant-markdown
	url = https://github.com/suan/vim-instant-markdown.git
[submodule "bundle/markdown"]
	path = bundle/markdown
	url = https://github.com/plasticboy/vim-markdown.git
[submodule "bundle/jade"]
	path = bundle/jade
	url = https://github.com/digitaltoad/vim-jade
[submodule "bundle/coffee"]
	path = bundle/coffee
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "bundle/bison"]
	path = bundle/bison
	url = https://github.com/justinmk/vim-syntax-extra.git
[submodule "bundle/ultisnips-css"]
	path = bundle/ultisnips-css
	url = git@github.com:rstacruz/vim-ultisnips-css.git
